<!DOCTYPE html>
<html lang="en">
<head>
  <title>M&S e-Magazine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.ico.png' %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
</head>
<body>

<div class="container-fluid">
    <h1>M&S e-Magazine</h1>
    <h2 class="text-center">LUGGAGE & TRAVEL</h2>
    <div class="row">
        <div class="col-lg-6">
            <a href="http://www.marksandspencer.com/scorpion-4-wheel-medium-suitcases/p/p22374300" >
                <%= image_tag("suitcase1.jpg", class: "img-responsive") %>
                <map name="Map" id="Map">
                  <area shape="rect" coords="356,115,624,186" href="http://www.marksandspencer.com/scorpion-4-wheel-medium-suitcases/p/p22374300" alt="Shop now" />
                </map>
            </a>
        </div>
        <div class="col-lg-6">
            <h3>Scorpion 4 Wheel Large Suitcase</h3>
            <h5><p>Travel in style with our selection of luggage and travel accessories, 
                from sleek suitcases and rollercases to elegant leather holdalls for weekends away.</p>
                <br>
                Features:
                <br>It comes with 4 wheel rotation for ease of movement.
                100% plastic.
                Lining- 100% polyester.
                Easy to wipe clean.
                Zipped internal compartments.
                Also available in Large and Medium.
                Main body compartment is complete with PACKING STRAPS to keep your clothes secure whilst on the move
                This luggage is guaranteed for 5 years against faulty workmanship.
                <br>
                Notes:
                <br>Every airline has different guidelines on luggage size allowances 
                so please check with individual airlines for their regulations before travelling.
                This isn't expandable.
            </h5>
        </div>
    </div>
</div>
    
</body>
</html>
